#if($value && ! $value.equals(""))
<div class="field-group">
	<label for="syncCheck">SYNC</label>
	#if($value == "true")
	{
		<input type="checkbox" selected id="syncCheck" value="$!value"></span>
	}
	#else
	{
		<input type="checkbox" id="syncCheck" value="$!value"></span>
	}
	#end
	<input type="hidden" name="$customField.id" value="$!value" />
</div>
#end
