body{
    background-color: #ecf0f5;
    font-family: sans-serif;
  }
  select{
    width: 100px;
  }
  .container{
    width: 60%;
    margin: 0 auto;
    background-color: #fff;
  }
  .top-container{
    width: 100%;
  }
  .col-lg-6{
    display: inline;
    width: 46%;
    float: left;
  }
  .form-control{
    display: inline;
      width: 95%;
      height: 24px;
      padding: 2px 12px;
      font-size: 14px;
      line-height: 1.42857143;
  }
  .form-control-1{
    display: inline;
      width: 50%;
      height: 34px;
      padding: 5px 12px;
      font-size: 14px;
      line-height: 1.42857143;
  }
   .form-control-MultiSelect{
    display: inline;
      width: 50%;
      height: 200px;
      padding: 5px 12px;
      font-size: 14px;
      line-height: 1.42857143;
  }
  .form-control-text{
    display: inline;
      width: 50%;
      height: 24px;
      padding: 2px 12px;
      font-size: 14px;
      line-height: 1.42857143;
  }
  
  .box.box-primary {
      border-top-color: #3c8dbc;
      display: inline-block;
  }
  .box {
      position: relative;
      border-radius: 3px;
      background: #ffffff;
      border-top: 3px solid #d2d6de;
      margin-bottom: 15px;
      width: 100%;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  .padding {
    padding: 10px;
  }
  .middle-section{
    display: block;
  }
  .contect-section{
    /*border-top: 3px solid #eee;*/
  }
  .table-bordered {
      border: 1px solid #f4f4f4;
  }
  .table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 20px;
  }
  .table-bordered {
      border: 2px solid #f4f4f4;
  }
  .box-body{
    padding: 8px;
  }
  .tableRowClass
  {
    
  }
  td{
    margin-bottom: 10px;
  }
  .padding-sec{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .content{
    padding: 10px
  }
  .box-header {
      color: #444;
      display: block;
      padding: 10px;
      position: relative;
  }
  .no-margin{
    margin: 0;
  }
  .th-style1{
    width: 40%;padding: 10px;background-color: #7a7a7a;color: #fff;
  }
  .th-style2{
    width: 20%;padding: 10px;background-color: #7a7a7a;color: #fff;
  }
  .th-style3{
    width: 10%;padding: 10px;background-color: #7a7a7a;color: #fff;
  }

  .selectControl {
        width: 200px;
        float: left;
    }
    .controls {
        width: 40px;
        float: left;
        margin: 10px;
    }
    .controls a {
        background-color: #222222;
        border-radius: 4px;
        border: 2px solid #000;
        color: #ffffff;
        padding: 2px;
        font-size: 14px;
        text-decoration: none;
        display: inline-block;
        text-align: center;
        margin: 5px;
        width: 20px;
    }
    .delA
    {
      
    }
  .spinner {
    position: fixed;
    top: 0%;
    left: 0%;
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 100%; /* width of the spinner gif */
    height: 100%; /*hight of the spinner gif +2px to fix IE8 issue */
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.spinnerImage{
  position: fixed;
  top:50%;
  left: 50%;
  width:50px;
  height: 50px;
}
